pkgbase = antigravity-tools
	pkgdesc = Professional Account Management for AI Services (Gemini / Claude)
	pkgver = 2.1.1
	pkgrel = 1
	url = https://github.com/lbjlaq/Antigravity-Manager
	arch = x86_64
	license = custom:CC-BY-NC-SA-4.0
	makedepends = git
	makedepends = openssl
	makedepends = cargo
	makedepends = rust
	makedepends = nodejs
	makedepends = npm
	makedepends = gcc
	makedepends = make
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = pango
	depends = webkit2gtk-4.1
	depends = libappindicator-gtk3
	source = antigravity-tools-2.1.1.tar.gz::https://github.com/lbjlaq/Antigravity-Manager/archive/refs/tags/v2.1.1.tar.gz
	sha256sums = SKIP

pkgname = antigravity-tools
